.editor {
	display: flex;
	margin: 100px;
	justify-content: center;
	.listItem {
		width: 200px;
		flex-shrink: 0;
		border: 2px solid green;
		border-radius: 5px;
		padding: 20px;
		min-height: 400px;
	}
	.canvas {}
}
